<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/buttons.css">
    </head>
    <header>
        <title>Cryo Inventory</title>
    </header>
    <body>
        <header>
            <section class="head_div">
                <h1>Cryo Inventory System</h1>
            </section>

        </header>

        <main class="page_layout">
            
            <div>
                <div class="freezer-div hidden">
                  <button class="freezer_button">Freezer 1</button>
                  <button class="add_freezer">Add Freezer</button>
                </div>

                <section>
                    <div class="rack_tabs">
                        <button class="rack-button" id="rack1" data-rack="1">Rack 1</button>
                        <button class="rack-button" id="rack2" data-rack="2">Rack 2</button>
                        <button class="rack-button" id="rack3" data-rack="3">Rack 3</button>
                        <button class="rack-button" id="rack4" data-rack="4">Rack 4</button>
                    </div>
                    <div class="rack-view">
                        <div class ="box-buttons-div">
                        </div>

                        <div class="table">
                            <div class="box-grid">
                            </div>
                            <div id="vial-modal" class = "modal hidden">
                                <div class="modal-content">
                                    <h2 style="color: rgb(133, 41, 238);">Vial Information</h2>
                                    <form id="vial-form">
                                        <l>Cell Line</l>
                                        <input name="cell_line" placeholder="Cell Line" class="input">
                                        <datalist id="cell_lines">
                                            {% for cell in cell_lines%}
                                                <option value="{{ cell[0]}}">
                                            {% endfor %}
                                        </datalist>
                                        <l>Passage Number</l>
                                        <input type="number" name="passage_number" placeholder="Passage Number" class="input">
                                        <l>Frozen By</l>
                                        <input type="text" name="frozen_by" placeholder="Frozen By" class="input">
                                        <l>Notes</l>
                                        <textarea name="notes" placeholder="Notes"></textarea>
                                        <div>
                                            <button type="submit" class="form-btns" style="background-color: black; color: white;">
                                                Save
                                            </button>
                                            <button type="button" id="close-modal" class="form-btns" style="background-color: rgb(182, 182, 182);">
                                                Close
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="coloor-picker hidden">
                                <button class=""></button>
                            </div>
                            
                            <div id="details-modal" class="modal hidden">
                                <div class="modal-content">
                                    <h2 style="color: rgb(133, 41, 238);">Vial Details</h2>
                                    <p>
                                        <strong>Cell Line:</strong>
                                        <span id ="detail-cell-line"></span>
                                    </p>
                                    <p>
                                        <strong>Passage:</strong>
                                        <span id="detail-passage"></span>
                                        <input id="edit-passage" class="hidden" type="number">
                                    </p>
                                    <p>
                                        <strong>Frozen By:</strong>
                                        <span id="detail-frozen-by"></span>
                                        <input id="edit-frozen-by" class="hidden" type="text">
                                    </p>
                                    <p>
                                        <strong>Frozen At:</strong>
                                        <span id="detail-frozen-at"></span>
                                    </p>
                                    <p>
                                        <strong>Notes:</strong>
                                        <span id="detail-notes"></span>
                                        <textarea id="edit-notes" class="hidden"></textarea>
                                    </p>

                                    <div class="button_row">
                                        <button id="edit-vial-btn" class="form-btns" style="background-color: black; color: white;">
                                            Edit
                                        </button>
                                        <button id="save-vial-btn" class="hidden form-btns">Save</button>
                                        <button id="delete-vial-btn" class="form-btns" style="background-color: rgb(218, 30, 30); color: white;">
                                            Delete
                                        </button>
                                        <button id="cancel-edit-btn" class="hidden form-btns">Cancel</button>
                                        <button id="close-details" class="form-btns" style="background-color: rgb(182, 182, 182);">Close</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="confirm-modal" class="modal hidden">
                                <div class="modal-content">
                                    <h3>Confirm Delete</h3>
                                    <p id="confirm-message"></p>
                                    <button id="confirm-yes" class="form-btns" style="background-color: rgb(218, 30, 30); color: white;">Delete</button>
                                    <button id="confirm-no" class="form-btns" style="background-color: rgb(182, 182, 182);">Cancel</button>
                                </div>
                            </div>

                            <div class="controls">
                                <button class="add-button">
                                    <span class="plus">+</span>
                                    Add Vials</button>
                                <button class="delete-selected-button">
                                    <span class="delete-icon">🗑</span>
                                    Delete</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <aside>
                <div>
                    <h2>Cell index</h2>
                </div>
                <div class="search_container">
                    <input type="text" placeholder="Search">
                    <button>Search</button>
                </div>

                <div class="cell_index">
                    <ul>
                        {% for cell in cell_lines %}
                            <li class="cell-line-item" data-cell-line="{{ cell [0] }}">{{ cell[0] }} ({{cell[1]}})</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="cell_summary">

                </div>
            </aside>
            
        </main>
        <img src="/Assets/HomeShashin.jpg">
        <script src="/static/JS/main.js"></script>
    </body>
</html>