<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/buttons.css">
    </head>
    <header>
        <title>Cryo Inventory</title>
    </header>
    <body>
        <header>
            <section class="head_div">
                <h1>Cryo Inventory System</h1>
            </section>

        </header>

        <main class="page_layout">
            
            <div>
                <div class="freezer-div">
                  <button class="freezer_button">Freezer 1</button>
                  <button class="add_freezer">Add Freezer</button>
                </div>

                <section>
                    <div class="rack_tabs">
                        <button class="rack-button" id="rack1" data-rack="1">Rack 1</button>
                        <button class="rack-button" id="rack2" data-rack="2">Rack 2</button>
                        <button class="rack-button" id="rack3" data-rack="3">Rack 3</button>
                        <button class="rack-button" id="rack4" data-rack="4">Rack 4</button>
                    </div>
                    <div class="rack-view">
                        <div class ="box-buttons-div">
                        </div>

                        <div class="table">
                            <button class="box-arrow left-arrow">
                                ◀
                            </button>
                            <div class="box-grid">
                            </div>

                            <div id="vial-modal" class = "modal hidden">
                                <div class="modal-content">
                                    <h2>Vial Information</h2>
                                    <form id="vial-form">
                                        <input name="cell_line" placeholder="Cell Line">
                                        <datalist id="cell_lines">
                                            {% for cell in cell_lines%}
                                                <option value="{{ cell[0]}}">
                                            {% endfor %}
                                        </datalist>
                                        <input type="number" name="passage_number" placeholder="Passage Number">
                                        <input type="text" name="frozen_by" placeholder="Frozen By">
                                        <textarea name="notes" placeholder="Notes"></textarea>
                                        <button type="submit">
                                            Save
                                        </button>
                                        <button type="button" id="close-modal">
                                            Close
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <button class="box-arrow right-arrow">
                                ▶
                            </button>
                        </div>
                    </div>
                </section>
            </div>

            <aside>
                <div>
                    <h2>Cell index</h2>
                </div>
                <div class="search_container">
                    <input type="text" placeholder="Search">
                    <button>Search</button>
                </div>

                <div class="cell_index">
                    <ul>
                        {% for cell in cell_lines %}
                            <li>{{ cell[0] }} ({{cell[1]}})</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="cell_summary">

                </div>
            </aside>
        </main>
        <script src="/static/JS/data.js"></script>
        <script src="/static/JS/main.js"></script>
    </body>
</html>